<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="csharpsdk" value="/sdk/csharp/"/>
      <add key="hydrosdk" value="/sdk/hydro/"/>
      <add key="ilasmsdk" value="/sdk/ilasm/"/>
      <add key="websdk" value="/sdk/web/"/>
      <add key="bruchsfolder" value="/bruchs/"/>
      <add key="templatesfolder" value="/templates/"/>
      <add key="errorlogfolder" value="/errorlog/"/>
      <add key="pluginsfolder" value="/plugins/"/>
      <add key="" />
    </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="esvanxg852000@freeheberg.com">
        <network host="smtp.freeheberg.com" port="25" userName="" password="" defaultCredentials="true" />
      </smtp>
    </mailSettings>

  </system.net>
</configuration>