/* 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
Designed & Coded By : Evance Soumaoro
URL : www.evansofts.com
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

.navlinks li a:hover {
	position: relative;
}

.navlinks li.current a{
	position: relative;
}

